@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #e4e4e4;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 30px;
  padding: 10px 60px;
  border: 1px solid #eee;
}

.location-header {
  width: 250px;
  padding-bottom: 10px;
  margin: 100px auto 0;
  text-align: center;
  border-bottom: 1px solid #bbb;
}

.top-header {
  margin: 40px;
  font-size: 20px;
  text-align: center;
}

.disclaimer-top {
  text-align: justify;
  word-spacing: 1px;
  margin: 40px 0 30px;
}

table {
  margin-bottom: 20px;
}
table thead th {
  text-align: left;
}

table.table-grid {
  width: 100%;
}
table.table-grid td {
  width: 50%;
  padding: 5px;
  padding-left: 0;
}
table.table-grid td .label {
  font-weight: 700;
}
table.table-grid td .label:after {
  content: ":";
}
table.table-grid td .data {
  margin-left: 5px;
  word-wrap: break-word;
}
.text-details-wrapper {
  margin-bottom: 20px;
}
.text-details-wrapper .text-header {
  margin-bottom: 8px;
  font-weight: 700;
}
.text-details-wrapper .text-header:after {
  content: ':';
}
.text-details-wrapper .text-details {
  text-align: justify;
  line-height: 1.2;
}

p.placeholder {
  font-style: italic;
  color: #999;
}
.signature-wrapper {
  margin-top: 50px;
  text-align: center;
}

.signature-blank{
  display: inline-block;
  width: 69%;
}

.signature-wrapper .signature-area {
  padding-top: 10px;
  border-top: 1px solid #999;
  display: inline-block;
  width: 30%;
}

.disclaimer-bottom-wrapper {
  margin-top: 20px;
  font-size: 14px;
}
.disclaimer-bottom-wrapper .disclaimer-header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}
.disclaimer-bottom-wrapper .disclaimer-details {
  font-style: italic;
  font-weight: 400;
  font-size: .9em;
  text-align: justify;
  color: #999;
}