<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Observations sur radiographies de Thorax</title>

    <!-- Bootstrap -->
    <link href="{{ static_dir }}bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="col-sm-12">
      <div class="navbar">
          <div class="container-fluid">
              <div class="navbar-header">
                  <img src="{{ static_dir }}logo_color_flat.png" style="height: 5em; "/>
              </div>
          </div>
      </div>

      <div class="col-xs-12">
          <div class="col-xs-5 ">
              <img src="{{ metadata.thumbnail }}" style="width: 100%;"/>
          </div>
          <div class="col-xs-7">
              <h4>Rapport de radiographies de Thorax</h4>
              <table class="table">
                  <tbody>
                        <tr>
                            <td> Nom Patient</td> <td>{{ metadata.patient_name }}</td>
                        </tr>
                        <tr>
                            <td> ID Patient </td> <td>{{ metadata.patient_id}}</td>
                        </tr>
                        <tr>
                            <td> Projection X-Ray </td> <td>{{ metadata.view_position }}</td>
                        </tr>
                        <tr>
                            <td> Date d’acquisition des images </td> <td>{{ metadata.study_date_time }}</td>
                        </tr>
                        <tr>
                            <td> Date d’Analyse </td> <td>{{ metadata.analysis_date_time }}</td>
                        </tr>
                        <tr>
                            <td> Version logicielle </td> <td>{{ version }}</td>
                        </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <div class="col-xs-12" style="padding-top: 1em;">
        <div class="report">
            <h4 style="text-align: center;">Observations sur radiographies de thorax et estimation</h4>
            <h4 style="text-align: left;"><b>IMPRESSION</b></h4>
            <p>{{ report.additional.impression.fr }}</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">OBSERVATIONS</th>
                    {% if include_scores %}
                     <th scope="col">SCORE</th>
                    {% endif %}
                  <th scope="col">ESTIMATION</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in results.items() %}

                  {% if key == "tuberculosis"%}
                    {% if tb_config.include_high_risk_tb %}
                        <tr>
                            <td>High Risk TB screen</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.probability < tb_config.high_risk_tb_threshold %} Négatif {% else %} <b>conseillé</b> {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Routine TB screen</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.presence == False %} Négatif {% else %} <b>conseillé</b> {% endif %}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ value.description.fr }}</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.presence == False %} Négatif {% else %} <b>conseillé</b> {% endif %}</td>
                        </tr>
                    {% endif %}
                  {% else %}
                    <tr>
                        <td>{{ value.description.fr }}</td>
                        {% if include_scores %}
                         <td>{{ '%0.2f' % value.probability|float }}</td>
                        {% endif %}
                        <td>{% if value.presence == False %} Non {% else %} <b>Oui</b> {% endif %}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ static_dir }}jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_dir }}bootstrap.min.js"></script>
  </body>
  <footer>
      <h4 style="text-align: center;"><b>Avertissement</b></h4>
      <p><i>{{ report.disclaimer.fr }}</i></p>
  </footer>

</html>