<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Observations sur radiographies de Thorax</title>

    <!-- Bootstrap -->
    <link href="{{ static_dir }}bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="col-sm-12">
      <div class="navbar">
          <div class="container-fluid">
              <div class="navbar-header">
                  <img src="{{ static_dir }}logo_color_flat.png" style="height: 5em; "/>
              </div>
          </div>
      </div>

      <div class="col-xs-12">
          <div class="col-xs-5 ">
              <img src="{{ metadata.thumbnail }}" style="width: 100%;"/>
          </div>
          <div class="col-xs-7">
              <h4>Rapport de radiographies de Thorax</h4>
              <table class="table">
                  <tbody>
                        <tr>
                            <td> Nom Patient</td> <td>{{ metadata.patient_name }}</td>
                        </tr>
                        <tr>
                            <td> ID Patient </td> <td>{{ metadata.patient_id}}</td>
                        </tr>
                        <tr>
                            <td> Projection X-Ray </td> <td>{{ metadata.view_position }}</td>
                        </tr>
                        <tr>
                            <td> Date d’acquisition des images </td> <td>{{ metadata.study_date_time }}</td>
                        </tr>
                        <tr>
                            <td> Date d’Analyse </td> <td>{{ metadata.analysis_date_time }}</td>
                        </tr>
                        <tr>
                            <td> Version logicielle </td> <td>{{ version }}</td>
                        </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <div class="col-xs-12" style="padding-top: 1em;">
        <div class="report">
            <h4 style="text-align: center;">Observations sur radiographies de thorax et estimation</h4>
            <h4 style="text-align: left;"><b>IMPRESSION</b></h4>
            {% if report.additional.impression.fr == 'Examen anormal' %}
              <p style="color:red;"><b>{{ report.additional.impression.fr }}</b></p>
            {% else %}
              <p style="color:green;"><b>{{ report.additional.impression.fr }}</b></p>
            {% endif %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">OBSERVATIONS</th>
                  <th scope="col">PRÉSENCE</th>
                    <th scope="col">LOCALISATION</th>
                </tr>
              </thead>
              <tbody>
                {% if results['abnormal'] %}
                  <td><b>Anormal</b></td>
                  {% if results['abnormal'].presence == True %}
                      <td><img src="{{ static_dir }}checkbox.png"></td>
                      <td></td>
                  {% else %}
                      <td></td><td></td>
                  {% endif %}
                {% endif %}
                {% for key in hierarchy.orderby %}
                   {% if hierarchy[key].orderby %}
                      <tr style="background: lightgrey">
                          <td><b>{{hierarchy[key].description.fr}}</b></td>
                          <td></td><td></td>
                      </tr>
                      {% for tag in hierarchy[key].orderby %}
                          {% if hierarchy[key][tag].has_child %}
                          <tr>
                              <td style="padding-left:20px;">{{hierarchy[key][tag].description.fr}}</td>
                             {% if tag=='opacity' and (not show_opacity or results['opacity'].presence) %}
                                <td><img src="{{ static_dir }}checkbox.png"></td>
                              {% else %}
                                <td></td>
                              {% endif %}
                          </tr>
                            {% for child in hierarchy[key][tag].children %}
                                <tr>
                                    <td style="padding-left:40px;">{{results[child].description.fr}}</td>
                                    {% if results[child].presence == True %}
                                        <td><img src="{{ static_dir }}checkbox.png"></td>
                                        <td>{{patch_info[child]}}</td>
                                    {% else %}
                                        <td></td><td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <td style="padding-left:40px;">Autres opacités</td>
                            {% if tag=='opacity' and show_opacity and results['opacity'].presence %}
                              <td><img src="{{ static_dir }}checkbox.png"></td>
                              <td>{{patch_info['opacity']}}</td>
                            {% else %}
                              <td></td><td></td>
                            {% endif %}
                          {% else %}
                            {% if tag in results %}
                              <tr>
                                <td style="padding-left:20px;">{{results[tag].description.fr}}</td>
                                {% if results[tag].presence == True %}
                                    <td><img src="{{ static_dir }}checkbox.png"></td>
                                    <td>{{patch_info[tag]}}</td>
                                {% else %}
                                    <td></td><td></td>
                                {% endif %}
                              </tr>
                            {% endif %}
                          {% endif %}
                      {% endfor %}
                   {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ static_dir }}jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_dir }}bootstrap.min.js"></script>
  </body>
  <footer>
      <h4 style="text-align: center;"><b>Avertissement</b></h4>
      <p><i>{{ report.disclaimer.fr }}</i></p>
  </footer>

</html>