<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chest X-Ray Report</title>

    <!-- Bootstrap -->
    <link href="{{ static_dir }}bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="col-sm-12">
      <div class="navbar">
          <div class="container-fluid">
              <div class="navbar-header">
                  <img src="{{ static_dir }}logo_color_flat.png" style="height: 5em; "/>
              </div>
          </div>
      </div>

      <div class="col-xs-12">
          <div class="col-xs-5 ">
              <img src="{{ metadata.thumbnail }}" style="width: 100%;"/>
          </div>
          <div class="col-xs-7">
              <h4>X-Ray Chest PA/AP View</h4>
              <table class="table">
                  <tbody>
                        <tr>
                            <td> Patient ID</td> <td>{{ metadata.patient_id }}</td>
                        </tr>
                        <tr>
                            <td> Patient Name </td> <td>{{ metadata.patient_name }}</td>
                        </tr>
                        <tr>
                            <td> Imaging Center </td> <td>{{ metadata.institution }}</td>
                        </tr>
                        <tr>
                            <td> Reporting Date</td> <td>{{ metadata.study_date_time }}</td>
                        </tr>
                        <tr>
                            <td> Analysed Date</td> <td>{{ metadata.analysis_date_time }}</td>
                        </tr>
                        <tr>
                            <td> Software version</td> <td>{{ version }}</td>
                        </tr>
{#                      <p> Patient Name: {{ metadata.patient_name }}</p>#}
{#                      <p> Imaging Center: {{ metadata.institution }} </p>#}
{#                      <p> Reporting Date: {{ metadata.study_date_time }} </p>#}
{#                      <p> Analysed Date: {{ metadata.analysis_date_time }} </p>#}
{#                      <p> Software version: {{ metadata.qxr_version }}</p>#}
                  </tbody>
              </table>
          </div>
      </div>

      <div class="col-xs-12" style="padding-top: 2em;">
        <div class="report">
            <h4 style="text-align: center;">Chest X-Ray abnormality detection and scoring</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">X-Ray Findings</th>
                    {% if include_scores %}
                     <th scope="col">Probability</th>
                    {% endif %}
                  <th scope="col">Remark</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in results.items() %}

                  {% if key == "tuberculosis"%}
                    {% if tb_config.include_high_risk_tb %}
                        <tr>
                            <td>High Risk TB screen</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.probability < tb_config.high_risk_tb_threshold %} NEGATIVE {% else %} <b>ADVISED</b> {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Routine TB screen</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.presence == False %} NEGATIVE {% else %} <b>ADVISED</b> {% endif %}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ value.description }}</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.presence == False %} NEGATIVE {% else %} <b>ADVISED</b> {% endif %}</td>
                        </tr>
                    {% endif %}
                  {% else %}
                    <tr>
                        <td>{{ value.description }}</td>
                        {% if include_scores %}
                         <td>{{ '%0.2f' % value.probability|float }}</td>
                        {% endif %}
                        <td>{% if value.presence == False %} NO {% else %} <b>YES</b> {% endif %}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ static_dir }}jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_dir }}bootstrap.min.js"></script>
  </body>
</html>