<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHEST X-RAY REPORT</title>

    <!-- Bootstrap -->
    <link href="{{ static_dir }}bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="col-sm-12">
      <div class="navbar">
          <div class="container-fluid">
              <div class="navbar-header">
                  <img src="{{ static_dir }}logo_color_flat.png" style="height: 5em; "/>
              </div>
          </div>
      </div>

      <div class="col-xs-12">
          <div class="col-xs-5 ">
              <img src="{{ metadata.thumbnail }}" style="width: 100%;"/>
          </div>
          <div class="col-xs-7">
              <h4>CHEST X-RAY REPORT</h4>
              <table class="table">
                  <tbody>
                        <tr>
                            <td> Patient Name</td> <td>{{ metadata.patient_name  }}</td>
                        </tr>
                        <tr>
                            <td> Patient ID </td> <td>{{ metadata.patient_id }}</td>
                        </tr>
                        <tr>
                            <td> X-RAY VIEW </td> <td>{{ metadata.view_position }}</td>
                        </tr>
                        <tr>
                            <td> Date of Image Acquisition</td> <td>{{ metadata.study_date_time }}</td>
                        </tr>
                        <tr>
                            <td> Date of Analysis</td> <td>{{ metadata.analysis_date_time }}</td>
                        </tr>
                        <tr>
                            <td> Software version</td> <td>{{ version }}</td>
                        </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <div class="col-xs-12" style="padding-top: 1em;">
        <div class="report">
            <h4 style="text-align: center;">CHEST X-RAY FINDINGS AND SCORING</h4>
            <h4 style="text-align: left;"><b>IMPRESSION</b></h4>
            <p>{{ report.additional.impression.eng }}</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">FINDINGS</th>
                    {% if include_scores %}
                     <th scope="col">SCORE</th>
                    {% endif %}
                  <th scope="col">REMARK</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in results.items() %}

                  {% if key == "tuberculosis"%}
                    {% if tb_config.include_high_risk_tb %}
                        <tr>
                            <td>High Risk TB screen</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.probability < tb_config.high_risk_tb_threshold %} NEGATIVE {% else %} <b>ADVISED</b> {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Routine TB screen</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.presence == False %} NEGATIVE {% else %} <b>ADVISED</b> {% endif %}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ value.description.eng }}</td>
                            {% if include_scores %}
                                <td>{{ '%0.2f' % value.probability|float }}</td>
                            {% endif %}
                            <td>{% if value.presence == False %} NEGATIVE {% else %} <b>ADVISED</b> {% endif %}</td>
                        </tr>
                    {% endif %}
                  {% else %}
                    <tr>
                        <td>{{ value.description.eng }}</td>
                        {% if include_scores %}
                         <td>{{ '%0.2f' % value.probability|float }}</td>
                        {% endif %}
                        <td>{% if value.presence == False %} NO {% else %} <b>YES</b> {% endif %}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ static_dir }}jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_dir }}bootstrap.min.js"></script>
  </body>
  <footer>
      <h4 style="text-align: center;"><b>DISCLAIMER</b></h4>
      <p><i>{{ report.disclaimer.eng }}</i></p>
  </footer>

</html>