<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ static_dir }}free_text_report.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">

    <div class="location-header">
        Location: {{ metadata.sitename }}
    </div>
    <div class="top-header">
        CHEST X-RAY REPORT
    </div>

    {% if config.top_disclaimer %}
    <div class="disclaimer-top">
        THIS IS A SOFTWARE GENERATED REPORT AND IS NOT TO BE USED TO DETERMINE THE COURSE OF MEDICAL TREATMENT WITHOUT
        THE SIGNATURE OF A MEDICAL PRACTITIONER.
    </div>
    {% endif %}

    <table class="table-grid">
        <tr>
            <td>
                <span class="label">Slip number</span>
                <span class="data"></span>
            </td>
            <td>
                <span class="label">Examination date</span>
                <span class="data">{{ metadata.study_date_time }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label">Patient name</span>
                <span class="data">{{ metadata.patient_name }}</span>
            </td>
            <td>
                <span class="label">Test code</span>
                <span class="data"></span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label">Gender</span>
                <span class="data">{{ metadata.patient_gender }}</span>
            </td>
            <td>
                <span class="label">Referral Partner Name</span>
                <span class="data"></span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label">Age</span>
                <span class="data">{{ metadata.patient_age }}</span>
            </td>
            <td>
                <span class="label">Referral Clinic</span>
                <span class="data">
					</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label">Patient code</span>
                <span class="data">{{ metadata.patient_id }}</span>
            </td>
        </tr>
    </table>

    <div class="text-details-wrapper">
        <div class="text-header">
            FINDINGS
        </div>
        <div class="text-details">
            <p>{{ report.findings }}</p>
        </div>
    </div>


    <div class="signature-wrapper">
        <div class="signature-blank"></div>
        <div class="signature-area">
            {{ config.signature_text }}
        </div>
    </div>

    <div class="disclaimer-bottom-wrapper">
        <div class="disclaimer-header">
            Disclaimer
        </div>
        <div class="disclaimer-details">
            This is an auto-generated report by the software and cannot be used as the final report. Please treat this
            as a provisional report and correlate clinically. For any discrepancy, please consult a Radiologist/Chest
            Physician. The software has analysed for abnormalities in lung fields, mediastinum, pleura and for bone
            conditions. Any clinical diagnosis, misdiagnosis, or consequences to patient well-being and software
            performance changes or failures that may result directly or indirectly from integrating with the software
            will not be attributed to the software.
        </div>
    </div>

</div>
<!-- partial -->

</body>
</html>
