<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Head CT Report</title>

    <!-- Bootstrap -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
      <style type="text/css">
          * {
              font-size: {{ pdf_options.layout.font_size }}px;
              line-height: 1;
          }

    </style>
  </head>
  <body>
    <div class="col-xs-12">
      <div style="margin-top: {{ pdf_options.layout.margin.top }}cm">
      </div>

      <div class="col-xs-12">
          <h4 style="text-align: center">{{place_holder['PDF_REPORT_TITLE']}}</h4>
          <div class="col-xs-8">
              <table class="table">
                  <tbody>
                        <tr>
                            <td> <b>{{place_holder['PDF_REPORT_PATIENT_NAME']}}</b></td> <td style="padding-left: 2em;">{{ pdf_options.metadata.patient_name }}</td>
                        </tr>
                        <tr>
                            <td> <b>{{place_holder['PDF_REPORT_PATIENT_ID']}}</b> </td> <td style="padding-left: 2em;">{{ pdf_options.metadata.patient_id}}</td>
                        </tr>
                        <tr>
                            <td> <b>{{place_holder['PDF_REPORT_SCAN_DATE']}}</b> </td> <td style="padding-left: 2em;">{{ pdf_options.metadata.study_date_time }}</td>
                        </tr>
                        <tr>
                            <td> <b>{{place_holder['PDF_REPORT_ANALYSIS_DATE']}}</b> </td> <td style="padding-left: 2em;">{{ pdf_options.metadata.analysis_date_time }}</td>
                        </tr>
                        <tr>
                            <td> <b>{{place_holder['PDF_REPORT_QER_VERSION']}}</b> </td> <td style="padding-left: 2em;">{{ pdf_options.qer_version }}</td>
                        </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-xs-4">
              <h5>{{place_holder['PDF_REPORT_IMPRESSION']}}</h5>
                <ul>
                    {% for sentence in pdf_options.impressions %}
                    <li><p><b>{{ sentence }}</b></p></li>
                    {% endfor %}
                </ul>

          </div>
      </div>

      <div class="col-xs-12">
            <div class="col-xs-12">
                <p><b>{{place_holder['PDF_REPORT_SLICE_PREVIEW']}}</b></p>
                {% for slice in important_slices %}
                <div class="col-xs-4">
                    <figure class="thumbnail" style="border: none;">
                        <img src="{{ slice.thumbnail_path }}">
                        <figcaption class="caption text-center" style="font-size: 9px;">{{place_holder['PDF_REPORT_SLICE']}} #{{slice.slice_num}}: {{ slice.caption }}</figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
      </div>


      <div class="col-xs-12">
          <div class="col-xs-12">
              <p><b>Observations</b></p>
              <table class="table">
                  <thead style="background-color: #e9ecef;">
                  <tr>
                      <th>{{place_holder['PDF_REPORT_CRITICAL_ABNORMALITY']}}</th>
                      <th>{{place_holder['PDF_REPORT_PRESENCE']}}</th>
                      <th>{{place_holder['PDF_REPORT_VOLUME']}}</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for abnormality in pdf_options.decisions %}
                      <tr>
                      {% if pdf_options.decisions[abnormality]['decision'] %}
                          <td><b>{{abnormality}}</b></td>
                          <td><b style="color: red;">YES</b></td>
                          {% if pdf_options.decisions[abnormality]['params']['volume'] %}
                            <td> {{ pdf_options.decisions[abnormality]['params']['volume'] }}</td>
                          {% else %}
                            <td> n.a </td>
                          {% endif %}
                          {% else %}
                          <td>{{abnormality}}</td>
                          <td>No</td>
                          <td></td>
                          {% endif %}
                      </tr>
                      {% for subtype in pdf_options.decisions[abnormality]['children'] %}
                      <tr>
                      {% if pdf_options.decisions[abnormality]['children'][subtype]['decision'] %}
                          <td style="padding-left: 2em"><b>{{subtype}}</b></td>
                          <td><b style="color: red;">YES</b></td>
                          <td> {{ pdf_options.decisions[abnormality]['children'][subtype]['params']['volume'] }}</td>
                          {% else %}
                          <td style="padding-left: 2em">{{subtype}}</td>
                          <td>No</td>
                          <td></td>
                          {% endif %}
                      </tr>
                        {% endfor %}
                  {% endfor %}
                  </tbody>
              </table>
              <div class="col-xs-12" style="font-size: 4px;">
                  <p><b>{{place_holder['PDF_REPORT_WARNING']}}: </b>{{place_holder['PDF_REPORT_WARNING_MSG']}}</p>
                  <img src="static/logo_color_flat.png" style="height: 3em; float: right;">
              </div>
          </div>
       </div>
        <div style="margin-top: {{ pdf_options.layout.margin.bottom }}cm">
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ static_dir }}jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_dir }}bootstrap.min.js"></script>
  </body>
</html>
