<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Head CT Report</title>

    <!-- Bootstrap -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
      * {
        background: #222 !important;
        color: #fff !important;
      }

      /*https://stackoverflow.com/a/29836423*/
      @page {
        size: Letter;
        margin: 0in;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="logo_color.png" style="height: 3em; "/>

      <h3 class="text-center" style="margin-top: 3em;">{{place_holder['PDF_REPORT_TITLE']}}</h3>

      <table id='metadata' style="margin: 3em auto; width: 65%; ">
        <tr>
          <th>Institution</th>
          <td>{{ pdf_options.metadata.institution }}</td>
        </tr>
        <tr>
          <th>Study Date</th>
          <td>{{ pdf_options.metadata.study_date }}</td>
        </tr>
        <tr>
          <th>Patient ID</th>
          <td>{{ pdf_options.metadata.patient_id }}</td>
        </tr>
        <tr>
          <th>Accession Number</th>
          <td>{{ pdf_options.metadata.accession_number }}</td>
        </tr>
      </table>


      <h5 class="text-center">CT Brain Without Contrast: Preliminary Findings by Automated Analysis</h5>

      <ul>
        {% for sentence in pdf_options.impressions %}
          <li>{{ sentence }}</li>
        {% endfor %}
      </ul>

      {% if important_slices %}
      <div class="row" style="margin: 3em 0em 1em 0em;">
        {% for slice in important_slices %}
        <div class="col-xs-4">
          <div class="thumbnail" style="border: none;">
            <img src="{{ slice.thumbnail_path }}">
            <div class="caption text-center" style="font-size: 9px;">slice #{{slice.slice_num}}: {{ slice.caption }}</div>
          </div>
        </div>
        {% endfor %}
      {% endif %}

      </div>

      <b>This is a report of preliminary findings by automated analysis. Other significant abnormalities may be present. Please refer to the clinician's final report.
      </b>



      <table class="text-muted" id='metadata_small' style="width: 50%; margin-top: 2em; font-size: 10px;">
        <tr>
          <th>Study Date and Time</th>
          <td>{{ pdf_options.metadata.study_date_time }}</td>
        </tr>
        <tr>
          <th>Analysis Date and Time</th>
          <td>{{ pdf_options.metadata.analysis_date_time }}</td>
        </tr>
        <tr>
          <th>Analysis performed by</th>
          <td>Qure.ai qER version {{ pdf_options.qer_version }}</td>
        </tr>
      </table>

      <b>For investigational use only. Not intended for Diagnostic purposes</b>
    </div>
  </body>
</html>
